<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/cards.jpg" style="max-width: 120px;"
        class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption">Movie #1</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b> 9.1/10 </b></figcaption>
</figure>

