<h1>Movie Title</h1>
<br>

<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="340" src="https://www.youtube.com/embed/EbRmBMXC0KU?si=i7s4COXsMS8a8HAm"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <p class="lead">
            This is going to be a place holder for the movie
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> Stars
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Star 1 Name</li>
                            <li class="list-group-item">Star 2 Name</li>
                            <li class="list-group-item">Star 3 Name</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> Stars
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Star 1 Name</li>
                            <li class="list-group-item">Star 2 Name</li>
                            <li class="list-group-item">Star 3 Name</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"> Stars
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Star 1 Name</li>
                            <li class="list-group-item">Star 2 Name</li>
                            <li class="list-group-item">Star 3 Name</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
<br>

<div class="row">
    <h1> Actors </h1>
    <br>
    <div class="col-md-12 text-center">
        <app-details-actors></app-details-actors>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-warning" [routerLink]="['/details/actors/'+movieId]" >
        All actors
    </a>
</div>

<hr>
<br>

<div class="row">
    <h1> Reviews </h1>
    <br>
    <div class="col-md-12">
        <app-details-reviews></app-details-reviews>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-warning" [routerLink]="['/details/review/'+movieId]" >
        All review
    </a>
</div>
<hr>
<br>

<div class="row">
    <h1> Similar movies </h1>
    <br>
    <div class="col-md-12 text-center">
        <app-details-movies></app-details-movies>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-warning" [routerLink]="['/details/movies/'+movieId]" >
        View more
    </a>
</div>


<br>
